# Backend
backend/env/
backend/*.pyc
backend/__pycache__/
backend/db.sqlite3
backend/.env

# Misc
/Misc/

# Ignore everything in smart-contract except for smart-contract/src/
smart-contract/*
!smart-contract/src/
!smart-contract/src/**/
